/Problem_1.class
/Problem_2.class
/Problem_3.class
/testi.class
/amocana1.class
/Problem_4.class
/Problem_5.class
/Problem_6.class
/Problem_7.class
/Problem_8.class
/Problem_9.class
/Problem_10.class
/Problem_Maze.class
/BonusProblem_1.class
/BonusPreoblem_2.class
/BonusProblem_3.class
/BonusProblem_4.class
/bonusProblem_5.class
/BonusProblem_5_2.class
/bonusProblem_6.class
/Problem_12.class
/Problem_1_2.class
/Problem_13.class
/Problem_14.class
/problem15.class
/problem16.class
/problem18.class
/problem19.class
/problem20.class
/problem17.class
/problem21.class
/problem23.class
/problem22.class
/problem24.class
/seminar5problem1.class
/seminar6problem1.class
/seminar6problem2.class
/test.class
/problem25.class
/problem26.class
/problem27.class
/problem28.class
/problem29.class
/seminar8poblem3.class
/problem30.class
/problem31.class
/problem32.class
/seminar8problem2.class
/problem33.class
/problem34.class
/problem35.class
/problem36.class
/problem37.class
/problem38.class
/karel.class
/seminar12.class
/Animations_test.class
